Repository nvim-mini/mini.nvim, pull requests merged in 2024-07, with the labels that each got.

#1050 fix(hues): leap deprecated highlights, use LeapLabel
  lua/mini/hues.lua
Labels: mini.hues

#1052 fix(base16): leap deprecated highlights, use LeapLabel
  lua/mini/base16.lua
Labels: mini.base16

#1051 feat(icons): add `hcl` filetype
  lua/mini/icons.lua
Labels: mini.icons
